{% extends 'calculator/base.html' %}
{% block title %}Калькулятор баллов{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Выберите предметы</h1><br>


                    <form method="get" action="/calc" class="">
                        {% csrf_token %}
                        {% for field in score_form %}
                        <div class="form-group row">
                            <label class="col-3 col-form-label">{{ field.label_tag }}</label>
                            <div class="col-3">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-info">Найти!</button>
                    </form>

        </div>
    </div>
</div>
    <!-- Example row of columns -->
        <div id="result_table">

        </div>


     <script type="text/javascript">
        function LoadHTML(url, tag_name) {
            jqXHR = $.ajax({
                     url: url ,
                     type: "get",
                     cache: true,
                     timeout: 30000,
                     dataType: 'html',
                     async: false,
                     success: function(data) {
                         $(tag_name).html(data);
                         $(".pagination").on('click', 'a', function(event) {
                          console.log('Start');
                          event.preventDefault();
                          params = $('form').serialize();
                          page_num = $(this).attr("href");
                          action = document.getElementsByTagName("form")[0].getAttribute("action");
                          result_table = LoadHTML(action+'?'+params+page_num, '#result_table');
                        });
                     },
                     error: function(data) {
                         console.log('error');
                }
              });
        };

        $( document ).ready(function() {
            document.getElementsByTagName("H1")[0].getAttribute("class");
        });
        $( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          params = $(this).serialize();
          action = document.getElementsByTagName("form")[0].getAttribute("action");
          result_table = LoadHTML(action+'?'+params, '#result_table');
        });

     </script>

{% endblock %}