{% extends 'calculator/base.html' %}
{% block description %}{{ program.common_name }} в {{ program.university.name }}, подробная статистика зарплаты
выпускников и проходных баллов ЕГЭ 2018{% endblock %}
{% block keywords %}{{ program.university.name }} {{ program.name }} егэ 2018 зарплата{% endblock %}
{% block title %}{{ program.full_name }} проходной балл и зарплата{% endblock %}
{% block content %}
<br>

<table class="table table-bordered">

    <tbody>
    <tr>
        <td>Код специальности</td>
        <td>{{ program.code }}</td>
    </tr>
    <tr>
        <td>Специальность</td>
        <td>{{ program.common_name }}</td>
    </tr>
    {% if program.full_name != program.common_name %}
    <tr>
        <td>Профиль</td>
        <td>{{ program.full_name }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Название университета</td>
        <td><a href="{% url 'calculator:university_details' program.university.id %}">{{ program.university.name }}</a></td>
    </tr>
    <tr>
        <td>Проходной балл</td>
        <td>{{ program.second_passing_score }}</td>
    </tr>
    {% if program.average_salary %}
    <tr>
        <td>Средняя заработная плата</td>
        <td>
            {{ program.average_salary|floatformat:"0" }}₽
            {% else %}
            Информация не представлена

        </td>
    </tr>
    {% endif %}
    {% if program.employment_percentage %}
    <tr>
        <td>Процент трудоустройства</td>
        <td>
            {{ program.employment_percentage|floatformat:2 }}%
            {% else %}
            Информация не представлена

        </td>
    </tr>
    {% endif %}
    <tr>
        <td>Вступительные испытания</td>
        <td>ЕГЭ: {{ program.exams_as_string }}
            {% if program.custom_exam %}<br>Внутренние: {{ program.custom_exam}}{% endif %}
        </td>
    </tr>

    </tbody>
</table>

{% endblock %}