{% extends 'calculator/base.html' %}
{% block title %}Зарплаты выпускников {{ university.name }}{% endblock %}
{% block content %}
<div class="container">
    <h3 class="desc_h3 text-center">{{ university.name }}</h3>
    <hr>
    {% if debug %}
    <h3>{{ university.graduate_id }}</h3>
    {% endif %}
    <table class="table table-bordered table-hover">

    <tbody>

    <tr>
        <td>Местоположение</td>
        <td>{{ university.region_name }}</td>
    </tr>
    <tr>
        <td>Средняя зарплата</td>
        <td>{{ university.average_salary|floatformat:"0" }}₽</td>
    </tr>
    <tr>
        <td>Процент трудоустройства</td>
        <td>
            {{ university.employment_percentage|floatformat:1 }}%
        </td>
    </tr>
    <tr>
        <td>Процент выпускников, продолживших обучение</td>
        <td>
            {{ university.continued_amount|floatformat:1 }}%
        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="container">
    {% for program in university.sorted_programs.all %}
    <div class="card card-outline-info">
        <div class="card-block">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="card-title header"><a target="_blank"
                                                      href="{% url 'calculator:program_details' program.id %}">
                        {{ program.common_name }}</a></div>
                    {% if program.full_name != program.common_name %}
                    <div class="card-text">
                        <div class="description">Профиль</div>
                        {{ program.full_name }}
                    </div>
                    {% elif program.faculty %}
                    <div class="card-text">
                        <div class="description">Факультет</div>
                        {{ program.faculty }}
                    </div>
                    {% endif %}
                    <div class="card-text">
                    <div class="description">Вступительные предметы</div>
                    {{ program.exams_as_string }}{% if program.custom_exam %} + внутренние испытания{% endif %}
                    </div>

                </div>
                <div class="card-title col-12 col-md-3 right-card-column">
                    <div class="row">
                        <div class="col-6 col-md-12 text-center">
                            <div class="description">Проходной балл</div>
                            <div class="card-digits">{% if program.second_passing_score %}{{ program.second_passing_score }}{% else %}?{% endif %}</div>
                        </div>
                        {% if program.average_salary %}
                        <div class="col-6 col-md-12 text-center">
                            <div class="description">Cредняя заработная плата</div>
                            <div class="card-digits">
                                {{ program.average_salary|floatformat:"0" }}₽
                            </div>
                        </div>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}