/* BASE STYLESHEET */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.navbar-nav > li {
  float: left;
  position: relative;
}

@media screen and (min-width: 980px) {
    .navbar-nav .active a::after {
        border-bottom: 5px solid #5bc0eb;
        bottom: -10px;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
    }
}
@media screen and (max-width: 979px) {
    .navbar-nav .active  {

    }
}

i.fa {
    color: #5bc0eb;
}
i.fa-circle {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #5bc0eb;
}
.padded {
    padding-right: 6%;
    padding-left: 6%;
}
.bordered {
    border: 3px solid #f7f7f7; /* Параметры рамки */
    padding: 15px; /* Поля вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 8px;
    max-height: max-content;
   }
input.score {
    width: 56px;
}
.col-form-label {
    height: fit-content;
}
.desc_h2 {
    font-weight: 900;
}
.desc_h3 {
    font-weight: 700;
}
/* /BASE STYLESHEET */


/* CARDS STYLESHEET */
.header {
    font-weight: 700;
}

.card-title .badge {
    font-size: 1.1em;
}

.card:not(:first-child) {
    margin-top: -1px;
}

.card-title a {
    color: black;
}

.description {
    color: #888888;
    font-size: 80%;
}

.card-digits {
    font-size: 2vw;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .right-card-column {
        padding-top: 15px;
    }

    .card-digits {
        font-size: 1.3em;
    }
}

/* /CARDS STYLESHEET */

select.score {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#calculator button[type="submit"] {

}

hr.short {
width: 60px;
height: 3px;
margin-left: auto;
margin-right: auto;
background-color: #5bc0eb;
color: #5bc0eb;
border: 0 none;
}

.pagination {
    overflow: scroll;
}